<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
			<a class="navbar-brand" href="#">Operations Portal</a>
			<!--<span id="logo"> <a href="/"><img src="assets/img/logo.png" alt=""></a></span>-->
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a routerLink="/home">Home</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Corporate Actions <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a routerLink="/corporateaction-add">Add New</a></li>
						<li><a routerLink="/corporateaction-list">List</a></li>						
						<li><a routerLink="/corporateaction-upload">Upload Document</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Archive <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a routerLink="/archive/trade">Trades</a></li>
						<li><a routerLink="/archive/transfer">Transfers</a></li>
					</ul>
				</li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data Setup <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a routerLink="/staticdata-asset">Asset</a></li>
						<li><a routerLink="/staticdata-issuer">Issuer</a></li>
						<li><a href="#">Issuer Contact</a></li>
						<li role="separator" class="divider"></li>						
						<li><a routerLink="/staticdata-eventtypes">Event Types</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a routerLink="/about">About</a></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>

<div class="container">
	<router-outlet></router-outlet>
</div>